<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni0C36_uni0C40.abvs_uni0C30_un</key>
  <dict>
    <key>uni0C36_uni0C4D.blwf</key>
    <integer>113</integer>
  </dict>
  <key>uni0C36_uni0C40_uni0C30_uni0C4D</key>
  <dict>
    <key>uni0C36_uni0C4D.blwf</key>
    <integer>128</integer>
  </dict>
</dict>
</plist>
